{% extends "index.html" %}
{% block title %}Home Page | KovidTrafik{% endblock %}
{% block content %}
<h1>Welcome to KovidTrafik!</h1>
<p>Insert general description here</p>
<form action="http://kovidtrafik.us-south.cf.appdomain.cloud" method="post">
    <p>Date:</p>
    <p><input type="date" placeholder="dd/mm/yyyy" name="inputdate" min="{{current_date}}"></p>
    <p><input type="time" placeholder="00:00" name="inputtime" step="3600000"></p>
    <p><button type="button" class="btn btn-primary">Get Prediction</button></p>
</form>
{% endblock %}