{% extends "master_layout.html" %}

{% block title %}
About us | HackGT 2020
{% endblock %}

{% block main %}
<div class="rowwise">
<h2>About us</h2><br><br><br>
<h4>Project</h4><br>
<div class="blocks">
  Because of the COVID-19 pandemic, so many areas of our lives have drastically changed, notably our willingness and ability to travel. 
  Since our team believed that previously existing traffic models may not be as accurate, we sought to create a projection of traffic more relevant to our current situation.
  KovidTrafik provides users with traffic predictions at a particular time for a particular day of the year, based on machine learning algorithm based on traffic data 
  collected since the first traces of COVID-19 in the United States. The predictions and data are specific to Downtown Atlanta, generalized to the traffic through the intersection of the I-25 and I-85 highways.
</div><br><br>
<h4>Team</h4><br>
<div class="blocks">
  Felix Wang, Eric Mesina, Akshar Patel, and Sunmee Choi are currently four college freshman competing at <em>HackGT 7: Reimagine Reality</em>, one of the team's first hackathons.
  They are extremely excited to present Kovidtrafik, their first project involving the use of machine learning techniques.
</div>
</div>
{% endblock %}
